body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #513aa5;
}

.container {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

#question {
    font-size: 18px;
    margin-bottom: 20px;
}

#answer {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

#check-button {
    background-color: #4CAF50;
    color: white;
}

#next-button {
    background-color: #008CBA;
    color: white;
}

button:hover {
    opacity: 0.8;
}
